@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Red+Hat+Text:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Red+Hat+Text:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Red+Hat+Text:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.4;
  font-weight: 400;
}
.news-title {
  font-size: 3rem;
  color: #3e8177;
  font-weight: bold;
  margin: 2rem 5% 4rem 5%;
}
/* CSS BANNER  */
.roadmapcommon {
  background-color: #f7f7f7;
  padding: 4rem 0;
  margin: 2rem 0 4rem 0;
}
.roadmapcommon__container {
  text-align: center;
}
.roadmapcommon__container > h2 {
  font-size: 5rem;
  font-weight: 400;
  color: #161922;
}
.roadmapcommon__container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.roadmapcommon__container > div > i {
  margin: 0 2rem;
}
.roadmapcommon__container > div > a {
  color: rgba(22, 25, 34, 0.6);
  font-size: 1.8rem;
}
/* CSS NEWS BANNER  */

.newsbanner {
  margin: 2rem 5% 4rem 5%;
}
.newsbanner__container {
  display: flex;
  /* justify-content: space-evenly;
  flex-wrap: wrap; */
}
.newsbanner__container.carousel {
  flex-basis: 50%;
}
.newsbanner__relative {
  flex-basis: 48%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.newsbanner__relative--item {
  flex-basis: 40%;
}
.newsbanner__relative--item:hover {
  text-decoration: none;
}
.newsbanner__relative--item > div {
  display: flex;
  align-items: center;
}
.newsbanner__relative--item > div > img {
  width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}
.newsbanner__relative--item > div > h5 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #000;
  opacity: 0.8;
}
.newsbanner__relative--item > h3 {
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 1rem;
}

/* CSS POPULAR  */
.mostpopular__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 5% 4rem 5%;
}
.mostpopular__container > div {
  display: flex;
  flex-basis: 22%;
}
.mostpopular__container > div > img {
  width: 82px;
  height: 42px;
  object-fit: cover;
  margin-right: 1rem;
}
.mostpopular__container > div > h2 {
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
}

/* CSS WORLD NEW  */
.worldnews {
}
.worldnews__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 3rem 2.7%;
}
.worldnews__item {
  width: 22%;
  text-decoration: none;
}
.worldnews__item > p {
  font-size: 1.4rem !important;
  font-weight: 300;
  /* font-style: italic; */
}
.worldnews__item:hover {
  text-decoration: none;
}
.worldnews__item:hover > h6 {
  text-decoration: none;
  color: violet;
}
.worldnews__item--img {
  position: relative;
  /* width: 100%; */
}
.worldnews__item--img > img {
  width: 100%;
  /* height: 100%; */
  height: 177px;
  object-fit: cover;
}
.worldnews__item--img > button {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: black;
  color: #fff;
  padding: 1.4rem 2.6rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.worldnews__item--img > button:hover {
  background-color: rgb(123, 50, 50);
}

.worldnews__item > h3 {
  font-size: 1.8rem;
  color: black;
  font-weight: 500;
  margin: 1rem 0;
}
.worldnews__item > p {
  font-size: 1.6rem;
  color: black;
}
.worldnews__item > h6 {
  font-size: 1.8rem;
  color: black;
  font-weight: 500;
}
.worldnews__item > h6 > i {
  font-size: 1.4rem;
  opacity: 0.8;
}
